<ion-header>
  <ion-toolbar>
    <ion-title>
      Deixe sua avaliação!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <div text-center>
      <div>
        <ion-item>
            <ion-input placeholder="Nome" [(ngModel)]="nome" value=""></ion-input>
          </ion-item>
      </div>
        <ion-radio-group  [(ngModel)]="emoji">
          <ion-list-header>
            <ion-label>Emoji</ion-label>
          </ion-list-header>
            <h1>
            <ion-label>😀</ion-label>
            <ion-radio slot="start" value="😀" checked></ion-radio>
      
            <ion-label>😍</ion-label>
            <ion-radio slot="start" value="😍"></ion-radio>

            <ion-label>😂</ion-label>
            <ion-radio slot="start" value="😂"></ion-radio>

            <ion-label>😩</ion-label>
            <ion-radio slot="start" value="😩"></ion-radio>

            <ion-label>😲</ion-label>
            <ion-radio slot="start" value="😲"></ion-radio>
            </h1>
      </ion-radio-group>
    </div>

  <ion-item>
      <ion-range min="1" max="10" step="1" pin="true" snaps="true" tick="true" [(ngModel)]="nota">
          <ion-label slot="start">1</ion-label>
          <ion-label slot="end">10</ion-label>
      </ion-range>
  </ion-item>
  <div text-center>
      <ion-button (click)="enviar()">Enviar</ion-button>
  </div>
  
</ion-content>
